body {
  font-family: helvetica, sans-serif;
  
}

div {
  box-sizing: border-box;
}

/* general */
.whiteFont {
  color: white;
  font-size: 20px;
}

.blueBackground {
  background: rgba(0,0,150,0.8);
  padding: 10px;
}

/* modules*/

.main-wrapper {
  display:flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #232323;
}

.logo {
  background: white;
  background: #F1F7F7;
}


.main-title {
  font-family: 'Londrina Shadow', cursive;
  font-size: 75px;
  color: 	#E5C36A;
  margin: 50px 0 30px 0;
  letter-spacing: 6px;
}

.sub-title {
    color: #bbbbbb;
    margin: 0px 0 50px 0;
}

.presentations-wrapper {
  display: flex;
  justify-content: center;  
  padding: 30px;
  background: white;
  color:black;
}

.presentationList{
  width: 100%;
}
.presentation {
  display: flex;
  border-bottom: 1px solid gray;
  width: 100%;
}

.presentationInfo { 
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  width: 15%;
}

.articlesLinks{
  margin: 0;
}
.presentationInfo-title {
  font-weight: bold;
  font-size: 18px;
}

.navWrapper{
  display:flex;
  justify-content: flex-end;
  font-size: 25px;
  padding: 20px;
  width: 95%;
}

.formContainer{
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 0;
  border: 0.3px solid grey;
}

.inputWrapper {
  display: flex;
  margin: 5px 0;
}

.inputLabel{
  width: 10%;
  font-size: 17px;
  text-align: end;
  margin: 5px 10px 5px 0;
}

.inputField{
  width: 50%;
  font-size: 17px;
  padding: 5px;    
}

.button-wrapper{
  margin: 5px 0;
}
